//variables

$font-12:12px;
$font-24:24px;
$font-14:14px;
$font-16:16px;
$font-10:10px;
$font-60:60px;
$font-20:20px;
$btn-bgcolor:#96EAE0;
$paddingY:100px;
$light-blue:#96EAE0;
$black-color:#242628;
$white-color:#fff;
$padding-40:40px;
$text-capitalize:uppercase;
$marginY:0px;
$line-height-p:10px;

